img{
    width: 100%;
    
}

iframe{
    border-radius: 5px;
    margin-left: 5px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: green;
    
    text-align: center;
} 

#intro {
    text-align: center;
    background-color: var(--Secondary) !important;
    margin: 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

#footer{
    text-align: center;
    background-color: var(--Secondary) !important;
    margin: 20px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}